
Positium/.idea/

Positium/data/Countries_WGS84.kml

Positium/data/countries.geojson

Positium/test_task_02042019/countries.csv

Positium/test_task_02042019/geom_result.csv

.idea/

Pluralsight_PythonDask/scaling-python-data-applications-dask/demos/data/

*.dirlock

*.lock

Python4Fun/__pycache__/
